body{
  margin: 0px;
  padding: 0px;
  font-size: 20pt;
  color: black;
}
header{
  height: 30%;
  width:100%;
}
.prim{
  height: 50%;
  width: 100%;
  background-color: blue;
  border-color: black;
}
span{
  background-color: red;
  font-size: 8pt;
  height: auto;
  width: auto;
}
.seg{
  height: 50%;
  width: 100%;
  background-color: blue;
}
